<!doctype html>
<html lang="en">
{{template "head" .}}
<body>

{{template "navbar" .}}


<div class="container-fluid">
    <div class="row">
        <div class="col-8 mt-3">
            <h5>About</h5>
            <p>
                Exquisite corpse is a collaborative art game in which a piece of paper is folded into segments and filled in by multiple artists. Each section is completed without knowing what the other artists have drawn. Hint lines connect each section so the "corpse" is continuous. After the last section is complete, the paper is unfolded and revealed to all.
            </p>
            <p>
                Typically the game is played with three sections so that a head, torso, and legs are drawn by three different people.
            </p>
            <p>
                Read about the origins of the game here <a href="https://www.artsy.net/article/artsy-editorial-explaining-exquisite-corpse-surrealist-drawing-game-die">https://www.artsy.net/article/artsy-editorial-explaining-exquisite-corpse-surrealist-drawing-game-die</a>
            </p>
            <p>
                I made this digital version of exquisite corpse for all to enjoy the game virtually.
            </p>
            <p>
                This project is open source: <a href="https://github.com/abigpotostew/exquisitecorpse-sls">https://github.com/abigpotostew/exquisitecorpse-sls</a>
            </p>
            <p>
                Do you have feedback or feature requests? Please report a new issue on github.
            </p>
        </div>
    </div>
</div>

{{template "scripts"}}

</body>
</html>